<div class="jumbotron">
  <h3>Toggle Button Demo</h3>
</div>

<div class="row marketing">
  <h4>Default - OFF</h4>
  <p>
    <input ng-model="demo1"
								name="demo1" type="checkbox"
								toggle-btn>
  </p>
  <h4>Default - ON</h4>
  <p>
    <input ng-init="demo2=true" ng-model="demo2"
								name="demo2" type="checkbox"
								toggle-btn>
  </p>
  <h4>Disabled - OFF</h4>
  <p>
    <input ng-model="demo3"
								name="demo3" type="checkbox"
								toggle-btn is-disabled="true">
  </p>
  <h4>Disabled -ON</h4>
  <p>
    <input ng-model="demo4"
								name="demo4" type="checkbox"
								toggle-btn is-disabled="true">
  </p>
  <h4>Sucess</h4>
  <p>
    <input ng-init="demo5=true" ng-model="demo5"
								name="demo5" type="checkbox"
								toggle-btn on-type="success">
  </p>
  <h4>Primary</h4>
  <p>
    <input ng-init="demo6=true" ng-model="demo6"
								name="demo6" type="checkbox"
								toggle-btn on-type="primary">
  </p>
  <h4>Info</h4>
  <p>
    <input ng-init="demo7=true" ng-model="demo7"
								name="demo7" type="checkbox"
								toggle-btn on-type="info">
  </p>
  <h4>Warning</h4>
  <p>
    <input ng-init="demo8=true" ng-model="demo8"
								name="demo8" type="checkbox"
								toggle-btn on-type="warning">
  </p>
  <h4>Danger</h4>
  <p>
    <input ng-init="demo9=true" ng-model="demo9"
								name="demo9" type="checkbox"
								toggle-btn on-type="danger">
  </p>
  <h4>Inverse</h4>
  <p>
    <input ng-init="demo10=true" ng-model="demo10"
								name="demo10" type="checkbox"
								toggle-btn on-type="inverse">
  </p>
  <h4>With Label</h4>
  <p>
    <input ng-model="demo11"
								name="demo11" type="checkbox"
								toggle-btn on-type="success" on-label="ON" off-label="OFF">
  </p>

  <h4>OFF - Sucess</h4>
  <p>
    <input ng-model="demo12"
								name="demo12" type="checkbox"
								toggle-btn on-type="success">
  </p>
  <h4>OFF - Primary</h4>
  <p>
    <input ng-model="demo13"
								name="demo13" type="checkbox"
								toggle-btn off-type="primary">
  </p>
  <h4>OFF - Info</h4>
  <p>
    <input ng-model="demo14"
								name="demo14" type="checkbox"
								toggle-btn off-type="info">
  </p>
  <h4>OFF - Warning</h4>
  <p>
    <input ng-model="demo15"
								name="demo15" type="checkbox"
								toggle-btn off-type="warning">
  </p>
  <h4>OFF - Danger</h4>
  <p>
    <input ng-model="demo16"
								name="demo16" type="checkbox"
								toggle-btn off-type="danger">
  </p>
  <h4>OFF - Inverse</h4>
  <p>
    <input ng-model="demo17"
								name="demo17" type="checkbox"
								toggle-btn off-type="inverse">
  </p>

</div>
